<div class="container tweet-setting">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <h3>以下の内容で、送信する</h3>
        
        <%= form_for(@tweet) do |f| %>
        
            <%= f.hidden_field :content %>
            <p><%= @tweet.content %></p>
        
            <%= f.submit 'つぶやく' , class: 'btn btn-primary btn-block' %>
        <% end %>
        <br>
        <%= form_for(@tweet, url: new_tweet_path, method: 'get') do |f| %>
            <%= f.hidden_field :content %>
            <%= f.submit 'もどる', name:'back' , class: 'btn btn-info btn-block'%>
        <% end %>
    </div>
</div>